:root {
    --SublimeLight: linear-gradient(to right, #FC5C7D, #6A82FB);
}



input {
    position: relative;
    top: 17em;
    width: 24.3em;
    height: 4em;
    border-color: #6A82FB;
    border-radius: 1em;
    margin-left: 43.8em;
}

table {
    position: relative;
    top: 15em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    border: none;
    background: var(--SublimeLight);
    width: 6em;
    height: 4.5em;
    border-radius: 1em;
    text-align: center;
    color: whitesmoke;
    padding: 0;
}

td button span {
    position: relative;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: whitesmoke;
}

.eq {
    width: 12em;
    height: 4.5em;
}

.clear span {
    font-size: 16px;
}

@media only screen and (max-width: 1080px) {
    input {
        position: relative;
        top: 700px;
        right: 42em;
        height: 8em;
        width: 60.5em;
    }

    table {
        position: relative;
        top: 750px;
        right: 0em;
    }

    button {
        width: 15em;
        height: 10em;
    }

    .eq {
        width: 30em;
        height: 10em;
    }

    td button span {
        font-size: 40px;
    }

    .clear span {
        font-size: 38px;
    }

    body {
        -ms-overflow-style: none;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 360px) {
    input {
        position: relative;
        top: 32em;
        right: 42.8em;
        height: 6em;
        width: 40em;
    }

    

    button {
        width: 5em;
        height: 6em;
        border-radius: 0.6em;
    }

    .eq {
        width: 10em;
        height: 6em;
    }

    td button span {
        font-size: 25px;
    }

    .clear span {
        font-size: 18px;
    }

    body {
        -ms-overflow-style: none;
        overflow-x: hidden;
    }
}
